<!DOCTYPE html>
<htm>
  <head>
    <title>EZpass</title>

    <link rel="stylesheet" href="../css/style.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-route.js"></script>

  </head>

  <body>

    <div class="navbar navbar-default" style="height: 80px">
    <h1 class="main-title"><a href="/">EZ-Pass</a></h1>
      <ul class="nav navbar-nav navbar-right" id="nav-register">
      <li><a href="/">HOME</a></li>
        <li><a href="/login">LOG IN</a></li>
      </ul>
    </div>

    <div class="text-center">
      <form>
        <h6>EMAIL</h6>
        <input type="text">
        <h6>PASSWORD</h6>
        <input type="text">
        <button type="submit" class="center-block">LOG IN</button>
      </form>
    </div>    
    
  </body>
</htm>