.popularCity {
  font-size: 28px;
}

.main-title {
  margin-left: 25px;
}

#ez-slogan {
  
  color: white;
  font-size: 36px;
  margin-top: 150px;
}

.img-hover {
  position: relative;

}

.caption {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgba(37,42,64,.8);

}

#membership-slogan {
  margin-top: 25px;
  font-size: 24px;
  color: white;
}


#nav-home {

  margin-top: -55px;
  margin-right: 25px;

}

#nav-register {
  margin-top: -55px;
  margin-right: 25px;
}

#nav-login {

  margin-top: -55px;
  margin-right: 25px;

}

#startingOffer {
  margin-top: 25px;
}


#startingOffer li {
  list-style: none;
  display: inline;
  font-size: 18px;
  text-align: center;
}

#startingOffer li:after {

  content:  "\00b7";
  padding: 25px;
  font-size: 32px;
  font-weight: bold;
}

#startingOffer li:last-child:after {

  content: none;
}

#popularLocation li {

  text-align: center;
  list-style: none;
  display: inline;

}


#popularLocation li:after {
  content: "\00b7";

}

#popularLocation li:last-child:after {
  content: none;
}



#workoutTheme {

  background-image: url("../images/fitness-one.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  height: 650px;
  overflow: hidden;

}

#danceTheme {

  background-image: url("../images/fitness-two.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  height: 650px;

}

#bookingTheme {

  background-image: url("../images/fitness-four.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  height: 650px;

}


#locationTheme {
  text-align: center;
  height: 1000px;
  color: white;
  margin-top: -20px;
  background-color: #252a40;
}

#selectPlanTheme {

  text-align: center;
  height: 1000px;
  margin-top: -20px;
  color: white;
  font-size: 28px;
  background-color: #252a40;
}


